@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5cb;
  color: #3c2a21;
  min-height: 100vh;
}

header {
  width: 40%;
  margin: 0 auto;
}

.title {
  padding-top: 40px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 2.7rem;
  font-weight: bold;
}

.author-detail {
  margin-bottom: 4px;
  font-weight: bold;
}

.underline {
  border-width: 0px;
  border-top-width: 1px;
  border-color: #3c2a21;
  border-style: solid;
  width: 100%;
}

main {
  width: 40%;
  margin: 20px auto;
}

article {
  font-size: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

footer {
  width: 40%;
  margin: 80px auto;
}

.margin-0 {
  margin: 0px;
}

.padding-0 {
  padding: 0px;
}

.width-half {
  width: 50%;
}

.rounded-full {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.margin-y-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.font-sm {
    font-size: 0.9rem;
}
